## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import os
import requests
import gmaps

In [17]:
# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
os.getcwd()

'/Users/balabanda/Desktop/Challenges/World_Weather_Analysis/Vacation_Search'

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('/Users/balabanda/Desktop/Challenges/World_Weather_Analysis/Weather_Database/WeatherPy_challenge.csv')
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Verkhnevilyuysk,RU,2021-06-07 04:24:45,63.4453,120.3167,58.37,28,29,16.62
1,1,Ayan,RU,2021-06-07 04:21:26,56.4500,138.1667,42.53,89,93,4.54
2,2,Middelburg,ZA,2021-06-07 04:24:55,-25.7751,29.4648,39.81,81,0,4.25
3,3,Liwale,TZ,2021-06-07 04:24:55,-9.7667,37.9333,61.09,81,0,6.31
4,4,Victoria,HK,2021-06-07 04:21:31,22.2855,114.1577,89.65,81,59,5.01
5,5,Khatanga,RU,2021-06-07 04:24:49,71.9667,102.5000,38.26,64,97,11.48
6,6,Kupang,ID,2021-06-07 04:23:43,-10.1667,123.5833,86.58,58,20,14.97
7,7,Kapaa,US,2021-06-07 04:24:44,22.0752,-159.3190,84.18,71,40,4.00
8,8,Ushuaia,AR,2021-06-07 04:24:56,-54.8000,-68.3000,44.26,61,40,0.00
9,9,Port-Gentil,GA,2021-06-07 04:23:24,-0.7193,8.7815,77.99,88,100,8.25

In [40]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [41]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Port-Gentil,GA,2021-06-07 04:23:24,-0.7193,8.7815,77.99,88,100,8.25
12,12,Pilar,BR,2021-06-07 04:24:57,-9.5972,-35.9567,71.53,94,35,1.95
21,21,Arraial Do Cabo,BR,2021-06-07 04:22:14,-22.9661,-42.0278,71.78,87,20,6.71
22,22,Mocajuba,BR,2021-06-07 04:25:00,-2.5842,-49.5072,74.66,89,72,2.98
32,32,Jamestown,US,2021-06-07 04:20:37,42.0970,-79.2353,70.34,79,1,9.22
35,35,Mikhaylovskoye,RU,2021-06-07 04:25:04,51.8239,79.7172,74.77,32,0,8.59
38,38,Puerto Ayora,EC,2021-06-07 04:22:21,-0.7393,-90.3518,72.55,98,24,9.19
43,43,Cayenne,GF,2021-06-07 04:25:06,4.9333,-52.3333,79.09,87,90,1.01
49,49,Fomboni,KM,2021-06-07 04:25:07,-12.2800,43.7425,79.25,69,93,18.14
52,52,Albany,US,2021-06-07 04:20:37,42.6001,-73.9662,72.16,78,15,3.76

In [42]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       164
City          164
Country       163
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [43]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [44]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat      Lng Hotel Name
9       Port-Gentil      GA     77.99  -0.7193   8.7815
12            Pilar      BR     71.53  -9.5972 -35.9567
21  Arraial Do Cabo      BR     71.78 -22.9661 -42.0278
22         Mocajuba      BR     74.66  -2.5842 -49.5072
32        Jamestown      US     70.34  42.0970 -79.2353
35   Mikhaylovskoye      RU     74.77  51.8239  79.7172
38     Puerto Ayora      EC     72.55  -0.7393 -90.3518
43          Cayenne      GF     79.09   4.9333 -52.3333
49          Fomboni      KM     79.25 -12.2800  43.7425
52           Albany      US     72.16  42.6001 -73.9662

In [47]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError, NewError):
    print("Hotel not found... skipping.")

IndexError: list index out of range

In [46]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.count()

City          163
Country       163
Max Temp      163
Lat           163
Lng           163
Hotel Name    163
dtype: int64

In [51]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/balabanda/Desktop/Challenges/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [52]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))