## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df = pd.read_csv('/Users/balabanda/Desktop/Challenges/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv')
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,9,Port-Gentil,GA,77.99,-0.7193,8.7815,Fengshui Residence
1,12,Pilar,BR,71.53,-9.5972,-35.9567,Pousada e churrascaria Manguaba
2,21,Arraial Do Cabo,BR,71.78,-22.9661,-42.0278,Pousada Porto Praia
3,22,Mocajuba,BR,74.66,-2.5842,-49.5072,Hotel Saylon
4,32,Jamestown,US,70.34,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,35,Mikhaylovskoye,RU,74.77,51.8239,79.7172,"Terem"""
6,38,Puerto Ayora,EC,72.55,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,43,Cayenne,GF,79.09,4.9333,-52.3333,Hôtel Le Dronmi
8,49,Fomboni,KM,79.25,-12.2800,43.7425,Pension Paradis
9,52,Albany,US,72.16,42.6001,-73.9662,NaN

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [9]:
US_itinerary_df = vacation_df.loc[(vacation_df['Country'] =='US')]
US_itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
4,32,Jamestown,US,70.34,42.0970,-79.2353,Hampton Inn & Suites Jamestown
9,52,Albany,US,72.16,42.6001,-73.9662,NaN
17,82,Broome,US,72.54,42.2506,-75.8330,NaN
21,95,Pascagoula,US,73.44,30.3658,-88.5561,NaN
31,151,Solano,US,73.11,38.2333,-121.9511,NaN
38,178,Hilo,US,77.29,19.7297,-155.0900,NaN
43,199,Scranton,US,74.03,41.4090,-75.6624,NaN
48,216,North Myrtle Beach,US,77.13,33.8160,-78.6800,NaN
54,252,Nanticoke,US,75.11,41.2054,-76.0049,NaN
60,291,College,US,70.12,64.8569,-147.8028,NaN
67,315,Blackfoot,US,70.61,43.1905,-112.3450,NaN
68,316,Hamilton,US,72.79,39.1834,-84.5333,NaN
69,321,Fairbanks,US,70.14,64.8378,-147.7164,NaN
70,324,Bethel,US,77.29,41.3712,-73.4140,NaN
83,378,Mount Pleasant,US,79.00,32.7941,-79.8626,NaN
84,379,Chippewa Falls,US,78.98,44.9369,-91.3929,NaN
87,400,Sheridan,US,73.65,44.8333,-106.9173,NaN
95,433,Winfield,US,74.77,37.2398,-96.9956,NaN
97,437,Laguna,US,79.18,38.4210,-121.4238,NaN
102,453,Marathon,US,75.15,44.9000,-89.7668,NaN
112,494,Dobson,US,72.45,36.3957,-80.7226,NaN
115,500,Apple Valley,US,72.55,34.5008,-117.1859,NaN
119,523,Thomasville,US,73.42,35.8826,-80.0820,NaN
134,588,Brigantine,US,76.01,39.4101,-74.3646,NaN
142,623,Russell,US,74.91,32.3502,-85.1999,NaN
145,631,Harrisonburg,US,73.78,38.4496,-78.8689,NaN
147,635,Avera,US,73.27,33.1940,-82.5271,NaN
162,674,Levelland,US,79.20,33.5873,-102.3780,NaN

In [11]:
# choose four cities from the US.(Albany, Broome, Scranton, Nanticoke)
four_cities_df = US_itinerary_df.loc[[9,17,43,54],:]
four_cities_df

    City_ID       City Country  Max Temp      Lat      Lng Hotel Name
9        52     Albany      US     72.16  42.6001 -73.9662        NaN
17       82     Broome      US     72.54  42.2506 -75.8330        NaN
43      199   Scranton      US     74.03  41.4090 -75.6624        NaN
54      252  Nanticoke      US     75.11  41.2054 -76.0049        NaN

In [14]:
vacation_start = vacation_df.loc[9]
vacation_end = vacation_df.loc[9]
vacation_stop1 = vacation_df.loc[17]
vacation_stop2 = vacation_df.loc[43] 
vacation_stop3 = vacation_df.loc[54]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

In [30]:
coordData_df = four_cities_df.loc[:,['City','Lat','Lng']]
coordData_df

         City      Lat      Lng
9      Albany  42.6001 -73.9662
17     Broome  42.2506 -75.8330
43   Scranton  41.4090 -75.6624
54  Nanticoke  41.2054 -76.0049

In [33]:
gmaps.configure(api_key = g_key)

coordData  = list(zip(four_cities_df['Lat'], four_cities_df['Lng']))
coordData

[(42.6001, -73.9662),
 (42.2506, -75.833),
 (41.409, -75.6624),
 (41.2054, -76.0049)]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [32]:
fig = gmaps.figure()
US_route = gmaps.directions_layer(coordData_df [0],coordData[-1], waypoints=[coordData[1],coordData[2]],
                                  travel_mode='BICYCLING')
fig.add_layer(US_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in four_cities_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = four_cities_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.

locations = four_cities_df[["Lat", "Lng"]]
max_temp = four_cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))